{{> toolbar}}
<md-content  layout-padding layout-wrap ng-controller="chat__">
    <div>
        <h2>chat history</h2>
        <div ng-repeat="n in records track by $index">\{{n}}</div>
    </div>
    <form name="chatForm">
        <md-input-container>
            <lable>messege</lable>
            <input type="text" autocorrect="off" id="chatBox" ng-model="newMsg">
        </md-input-container>
        <md-button ng-click="send()">send</md-button>
    </form>
</md-content>
