<!DOCTYPE html>
<html ng-controller="matcha__" ng-app="matcha">

<head>
	<title>{{ title }}</title>
	<base href="/" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/material/angular-material.css" />
</head>

<body ng-cloak layout="column">
	<ng-view></ng-view>

	<script src="/material/angular.js" charset="utf-8"></script>
	<script src="/material/angular-animate.js" charset="utf-8"></script>
	<script src="/material/angular-aria.js" charset="utf-8"></script>
	<script src="/material/angular-messages.js" charset="utf-8"></script>
	<script src="/material/angular-route.js" charset="utf-8"></script>
	<script src="/material/angular-storage.js" charset="utf-8"></script>
	<script src="/material/angular-material.js" charset="utf-8"></script>
	<script src="/javascripts/matcha.js" charset="utf-8"></script>
	<script src="/javascripts/routes.js" charset="utf-8"></script>
	<script src="/javascripts/home.js" charset="utf-8"></script>
</body>

</html>