<!DOCTYPE html>
<html ng-controller="matcha__" ng-app="matcha">

<head>
	<title>Matcha</title>
	<base href="/" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/material/angular-material.css" />
</head>

<body ng-cloak layout="column">
	<ng-view flex></ng-view>

	<footer class="licence-footer">
		Matcha &copy 2016 adippena. Code licensed under the
		<a ng-href="./license" class="md-accent" href="./license">MIT License</a>. Documentation licensed under
		<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" class="md-default-theme md-accent">CC BY 4.0</a>
	</footer>

	{{> scripts}}
</body>

</html>