<!DOCTYPE html>
    {{> toolbar}}
<md-content layout-padding layout-wrap layout="column">
    <h3>Login</h3>
    <div layout="column" class="login-form" md-theme="loginDark" md-colors="{backgroundColor: 'background'}">
        <form layout="row" layout-sm="column" ng-controller="login__">
            <md-input-container>
                <label>Username</label>
                <input type="text" ng-model="login.username">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="login.password">
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary" style="margin: auto auto" aria-label="login" ng-click="login()">Login</md-button>
        </form>
        <a class="reset-password" href="/send_reset">Reset password</a>
    </div>
</md-content>

<h2>OR</h2>

<md-content layout-padding layout-wrap layout="column">
    <h3>Register</h3>
    <div layout="column" class="login-form" md-theme="loginDark" md-colors="{backgroundColor: 'background'}">
        <form layout-wrap layout="column" ng-controller="register__" name="registerForm">
            <md-input-container>
                <label>Firstname</label>
                <input type="text" ng-model="reg.firstname" required>
            </md-input-container>
            <md-input-container>
                <label>Lastname</label>
                <input type="text" ng-model="reg.lastname" required>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="reg.email2" required>
            </md-input-container>
            <md-input-container>
                <label>Email again</label>
                <input type="email" ng-model="reg.email" feild-match="reg.email2" >
            </md-input-container>
            <md-input-container>
                <label>Birthdate</label>
                <md-datepicker ng-model="reg.birthdate" md-min-date="minDate" md-max-date="maxDate" required="true"></md-datepicker>
            </md-input-container>
            <div>
                <label>Gender</label>
                <md-radio-group ng-model="reg.gender" required="">
                    <md-radio-button value="M">Male</md-radio-button>
                    <md-radio-button value="F">Female</md-radio-button>
                    <md-radio-button value="O">Uncategorised mail</md-radio-button>
                </md-radio-group>
            </div>
            <div>
                <label>Interested in</label>
                <div layout="row">
                    <md-checkbox ng-model="reg.interestedMale">Male</md-checkbox>
                    <md-checkbox ng-model="reg.interestedFemale">Female</md-checkbox>
                    <md-checkbox ng-model="reg.interestedOther">Uncategorised mail</md-checkbox>
                </div>
            </div>
            <md-input-container>
                <label>Username</label>
                <input type="text" ng-model="reg.username" ng-model-options="{ updateOn: 'blur' }" valid-username="" required>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="reg.password" required>
            </md-input-container>
            <md-input-container>
                <label>Password again</label>
                <input type="password" ng-model="reg.password2" required feild-match="reg.password">
            </md-input-container>
            <md-button class="md-raised md-primary" aria-label="register" ng-click="register()" ng-disabled="registerForm.$invalid">Register</md-button>
        </form>
    </div>
</md-content>