<!DOCTYPE html> {{> toolbar}}

<md-content class="profile-page" layout-padding layout-wrap layout="column">
	<h2>{{ username }}</h2>
	<div layout="row">
		<div class="profile-pic-main">
			<img ng-if="account.profilePic" src="images/{{person.profilePic}}.png" />
			<img ng-if="!account.profilePic && account.gender == 'M'" src="images/no_pic_male_black_512.png" />
			<img ng-if="!account.profilePic && account.gender == 'F'" src="images/no_pic_female_black_512.png" />
			<img ng-if="!account.profilePic && account.gender == 'O'" src="images/no_pic_other_black_512.png" />
		</div>
		<div layout="column">
			<md-input-container>
				<label>Firstname</label>
				<input ng-model="account.firstname" />
			</md-input-container>
			<md-input-container>
				<label>Lastname</label>
				<input ng-model="account.lastname" />
			</md-input-container>
		</div>
	</div>
	<div layout="row" layout-wrap>
		<md-input-container>
			<label>Email address</label>
			<input ng-model="account.email" />
		</md-input-container>
	</div>
	<div layout="column">
		<md-input-container>
			<label>Bio</label>
			<textarea ng-model="account.bio" md-maxlength="150" maxlength="150"></textarea>
		</md-input-container>
		<md-input-container>
			<label>Birthdate</label>
			<md-datepicker ng-model="account.birthdate"></md-datepicker>
		</md-input-container>
		<div>
			<label>Gender</label>
			<md-radio-group ng-model="account.gender">
				<md-radio-button value="M">Male</md-radio-button>
				<md-radio-button value="F">Female</md-radio-button>
				<md-radio-button value="O">Uncategorised mail</md-radio-button>
			</md-radio-group>
		</div>
		<div>
			<label>Looking for</label>
			<div layout="row">
				<md-checkbox ng-model="account.interestedMale">Male</md-checkbox>
				<md-checkbox ng-model="account.interestedFemale">Female</md-checkbox>
				<md-checkbox ng-model="account.interestedOther">Uncategorised mail</md-checkbox>
			</div>
		</div>

		<div layout="row">
			<md-input-container flex>
				<label>Intrests</label>
				<md-chips ng-model="account.selectedTags" md-autocomplete-snap md-transform-chip="transformChip($chip, $event)" md-require-match="false" id="chips">
					<md-autocomplete md-selected-item="account.selectedTag" md-search-text="account.searchText" md-items="item in querySearch(account.searchText)" md-item-text="item.name" placeholder="Search for a tag">
						<span md-highlight-text="account.searchText">\{{item.name}} :: \{{item.type}}</span>
					</md-autocomplete>
					<md-chip-template>
						<span>
		          <b>\{{$chip.name}}</b>
		          <em>(\{{$chip.type}})</em>
		        </span>
					</md-chip-template>
				</md-chips>
			</md-input-container>
		</div>

		<form name="updateChanges" flex layout="column">
			<md-input-container>
				<label>Username</label>
				<input ng-model="account.username" />
			</md-input-container>
			<md-input-container>
				<label>Old password</label>
				<input type="password" ng-model="account.oldPassword" required>
			</md-input-container>
			<md-input-container>
				<label>New password</label>
				<input type="password" ng-model="account.newPassword">
			</md-input-container>
			<md-input-container>
				<label>New password again</label>
				<input type="password" ng-model="account.newPassword2">
			</md-input-container>
			<md-button class="md-raised md-primary" aria-label="register" ng-click="update()">Save</md-button>
		</form>
	</div>
</md-content>