html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.login-form {
    padding: 50px;
    border-radius: 5px;
}

.licence-footer {
    align-self: flex-end;
    padding: 16px 0;
    width: 100%;
    text-align: center;
    font-size: small;
    border-top: 1px solid #ddd;
}

.doc {
    padding: 50px;
    max-width: 850px;
}

.doc>p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0.8em 0 1.2em;
    text-align: justify;
}

.profile-pic-main {
    width: 128px;
    height: 128px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: auto 20px auto 6px;
}

.profile-pic-main>img {
    min-width: 128px;
    min-height: 128px;
    display: flex;
}

.logout-button {
    min-width: 36px;
}

.toaster {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    pointer-events: none;
    z-index: 10000;
}

.recomend {
    margin: 6px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.recomend>header {
    height: 64px;
    display: flex;
    padding-left: 6px;
    align-items: center;
}

.recomend>img {
    width: 360px;
    display: flex;
}

.recomend>footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 6px;
}

.recomend-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.badge {
    font-size: 0.8rem;
    color: #FFF;
    border-radius: 2px;
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    float: right;
    margin-left: 3px;
}

.blue {
    background-color: #039BE5;
}

.pink {
    background-color: #D81B60;
}

.yellow {
    background-color: #FFEB3B;
    color: #000
}

.seeking {
    display: flex;
    justify-content: space-between;
}

.thumb {
    width: 48px;
    height: 48px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}